.footer-wrapper{
    background-color: #ffffff;
width: 100vw;
height: 254px;
z-index: 1;
}
.footer-logo{
    margin-top: 30px;
}
.footer-nav-wrapper{
    margin-top: 32px;
    margin-bottom: 32px;
}
.footer-nav-wrapper>a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #212B36; 
}
.footer-nav-wrapper>span{
    margin-left: 8px;
    margin-right: 8px;
}
.break{
    border: 2px solid #E5E8EB;
}
.copyright{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #B2B3B5;
margin-top: 24px;
}