body {
  margin: 0;
  font-family: 'Public Sans'!important;
  font-style: normal!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E8EB;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}
a{
  cursor: pointer;
  font-size: 18px !important;
line-height: 26px!important;
color: #212B36!important;

}
